<%- include('header.ejs') %>


<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Lista de productos</h2>
    <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(function(product) { %>
          <li>
            <strong>Nombre:</strong> <%= product.name %> <br>
            <strong>Precio:</strong> <%= product.price %> € <br>
            <strong>Propietario:</strong> <%= product.owner %> <br>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No hay productos disponibles en este momento.</p>
    <% } %>

